body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    margin: 20px;
}

h1 {
    color: darkgreen;
}

button {
    margin: 5px;
    padding: 10px;
}

div {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}